.thumbnail{
    width: 100%;
    margin-bottom: 10px;    
}
.thumbnail-row{
    position: relative;
}
.time-stamp{
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: black;
    position: absolute;
    bottom: 20px;
    right: 5px;
    width: 35px;
    text-align: center;
    border-radius: 2px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-title{
    margin-top: 0px;
    line-height: 20px;  
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 6px;
}

.pp{
    width: 36px;
    border-radius: 50%;
}

.video-author,.video-desc{
    font-size: 12px;
    color: rgb(108, 108, 108);
    line-height: 18px;
    font-weight: 500;
}

.video-grid{
    font-family: Roboto, Arial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

@media (max-width: 580px){
    .video-grid{
        grid-template-columns: 1fr;
    }   
}
@media (max-width: 760px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }   
}
@media (min-width:761px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }   
}
@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }   
}